.banner {
  background: $background-footer-color;
  text-align: center;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img10.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.banner__title {
  @include flexCentered(flex, center, center);
  @include font($primary-font, 44px, 900, 0.06em, 1.364, $primary-white-color);
  text-transform: uppercase;
}
