:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #fff;
  --portfolio-button: #f5f4fa;
  --black-color: #000;
  --button-hover: #188ce8;
  --background-footer-color: #2f303a;
  --portfolio-item-hover: #eee;
  --social: #afb1b8;
  --overley: rgba(33, 150, 243, 0.9);
}

body {
  background-color: var(--primary-white-color);
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
}

/*Утилиты*/
/* .list--style {
  list-style: none;
  margin: 0;
} */

h1,
h2,
h3,
p {
  margin-bottom: 0;
  margin-top: 0;
}

/*****************Хедер, шапка страницы******************/
.logo > span {
  color: var(--accent-color);
}

/* .logo--dark {
  color: var(--primary-white-color);
} */

/* .logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--black-color);
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
} */

/* .logo--dark {
  color: var(--primary-white-color);
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;

} */

/* .site-nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 10ms;
} */

/* .current {
  color: var(--accent-color);
}

.current::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
} */

/* .section--grey {
  background-color: var(--portfolio-button);
} */

/* .header-contacts__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 10ms;
} */

/* .site-nav__link:hover,
.site-nav__link:focus, */
/* .header-contacts__link:hover,
.header-contacts__link:focus, */
/* .contacts__link:focus,
.contacts__link:hover {
  color: var(--accent-color);
} */

/* .header-contacts__link:hover svg,
.header-contacts__link:focus svg {
  fill: var(--accent-color);
} */

/* .container {
  padding: 0 15px;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
} */

/* .main-nav {
  display: flex;
  align-items: center;
} */

/* .site-nav__list {
  display: flex;
  margin-left: 93px;
  padding-left: 0;
} */

/* .site-nav {
  display: flex;
  align-items: center;
} */

/* .site-nav__item {
  position: relative;
  margin: 0;
} */

/* .site-nav__item:not(:last-child) {
  margin-right: 50px;
} */

/* .site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
} */

/* .header-contacts {
  display: flex;
  margin-left: auto;
  padding-left: 0;
} */

/* .header-contacts__link {
  padding-top: 32px;
  padding-bottom: 32px;
} */

/* .header-contacts__item + .header-contacts__item {
  margin-left: 30px;
} */

.page-header {
  border-bottom: 1px solid #ececec;
}

/* .header-contacts__icon-email {
  width: 16px;
  height: 12px;
  margin-right: 10px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 10ms;
}

.header-contacts__icon-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 10ms;
} */

/***************Портфолио****************/

/* .portfolio-nav__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

/* .portfolio {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -30px;
  margin-top: -30px;
} */

/* .portfolio__item {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-left: 30px;
  margin-top: 30px;
} */

/* .portfolio-nav__item {
  display: block;
} */

/* .portfolio__link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:focus,
.portfolio__link:hover {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
} */

.portfolio-nav-button > button:hover,
.portfolio-nav-button > button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.portfolio-nav-button:not(:last-child) {
  margin-right: 8px;
}

/* .portfolio-nav__list {
  display: flex;
  padding-left: 0;
  margin-bottom: 50px;
  justify-content: center;
}
 */
.portfolio-button {
  display: block;
  border-radius: 4px;
  border: none;
  margin: 0;
  padding: 6px 24px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: var(--primary-text-color);
  background-color: var(--portfolio-button);
  letter-spacing: 0.03em;

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card {
  border-right: 1px solid var(--portfolio-item-hover);
  border-bottom: 1px solid var(--portfolio-item-hover);
  border-left: 1px solid var(--portfolio-item-hover);
  padding: 20px 20px;
  border-radius: 0 0 4px 4px;
}

/* .portfolio-overley {
  position: absolute;
  top: 100%;
  left: 0;

  padding: 10px 20px;
  width: 370px;
  height: 294px;
  background-color: var(--overley);

  transition-property: transform;
  transition-duration: 500ms;
  transition-delay: 100ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .portfolio__link:hover .portfolio-overley,
.portfolio__link:focus .portfolio-overley {
  transform: translateY(-100%);
} */

/* .portfolio__image--relative {
  position: relative;
  overflow: hidden;
} */

/* .portfolio-overley__text{
  font-weight: normal;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
} */

/* .button-all {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
} */

/* .portfolio__subtitle {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
} */

/* .portfolio__text {
  color: var(--secondary-text-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
} */

.button {
  border-radius: 4px;
  border-color: transparent;
  width: 200px;
  height: 50px;
  padding: 0;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  background-color: var(--portfolio-button);
  color: var(--primary-text-color);
  letter-spacing: 0.06em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 510ms;
}
/* 
.portfolio__image {
  display: block;
  width: 100%;
  height: auto;
} */

/**************Футтер***********************/

/* .footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background: var(--background-footer-color);
} */

/* .contacts__link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 10ms;
} */
/* .contacts__text {
  color: var(--primary-white-color);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.03em;
  margin-bottom: 6px;
} */

/* .contacts__list {
  justify-content: left;
  padding-left: 0;
} */

/* .contacts__item:not(:last-child) {
  margin-bottom: 6px;
} */

/* .join {
  display: block;
  width: 206px;
  height: 80px;
  justify-content: center;
  margin-left: 70px;
} */

/* .join__text {
  font-family: inherit;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
} */

/* .join__social-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 10ms;
}

.join__social-link:hover,
.join__social-link:focus {
  background-color: var(--accent-color);
} */

/* .join__social-list {
  display: flex;
  padding-left: 0;
  margin: 0;
} */

/* .join__social-item:not(:last-child) {
  margin-right: 10px;
} */

/* .join__social-icon {
  width: 20px;
  height: 20px;
  fill: var(--primary-white-color);
} */

/* .join__social-item {
  display: flex;
  list-style: none;
  height: auto;
} */

/* .footer-box {
  display: flex;
  align-items: baseline;
}

.contacts {
  min-width: 230px;
} */

/***************Главная страница****************/
/* .banner__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  color: var(--primary-white-color);
  text-transform: uppercase;
  letter-spacing: 0.06em;
} */
/* .banner {
  background: var(--background-footer-color);
  text-align: center;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img10.jpg);
  background-size: cover;
  background-repeat: no-repeat;
} */
/* .features__subtitle {
  margin: 0 0 10px 0;

  color: var(--primary-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
  letter-spacing: 0.03em;
} */
/* .features__text {
  margin: 0;

  color: var(--secondary-text-color);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
} */
/* .features__list {
  display: flex;
} */

/* .features__item {
  width: 270px;
  text-align: left;
}
.features__item:not(:last-child) {
  margin-right: 30px;
} */

/********Чем мы занимаемся***************/

/* .section__subtitle {
  text-align: center;

  color: var(--primary-text-color);

  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
} */

/* .subject {
  display: flex;
  padding-left: 0;
} */

/* .subject__item {
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */

/* .subject__overley {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
} */

/* .subject__text {
  color: var(--primary-white-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
} */
/************Наша команда************/

/* .our-team__name {
  text-align: center;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
} */

/* .our-team__position {
  text-align: center;

  font-weight: normal;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
} */

/* .our-team {
  display: flex;
  padding-left: 0;
} */

/* .our-team__item {
  background-color: var(--primary-white-color);

  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}

.our-team__item:not(:last-child) {
  margin-right: 30px;
} */

/* .our-team__images {
  display: block;
  max-width: 100%;
  height: auto;
} */

/* .our-team__text {
  padding: 30px 32px;
} */

/* .networks {
  display: flex;
  width: 206px;
  height: 44px;
  fill: var(--social);
} */

/* .social__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 10ms;
} */

/* .social {
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: center;
} */

/* .social__item:not(:last-child) {
  margin-right: 10px;
} */

/* .social__icon {
  width: 20px;
  height: 20px;
  fill: var(--social);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 10ms;
} */

/* .social__link:hover svg,
.social__link:focus svg {
  fill: var(--primary-white-color);
  cursor: pointer;
}

.social__link:hover,
.social__link:focus {
  background-color: var(--accent-color);
} */

/* .social__item {
  display: flex;
  height: auto;
} */

/******************* Наши клиенты *********************/

/* .regular-client__list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: center;
} */

/* .regular-client__logo {
  fill: var(--social);
  width: 106px;
  height: 60px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 50ms;
} */

/* .regular-client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  border: 1px solid var(--social);
  border-radius: 4px;
  cursor: pointer;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 50ms;
} */

/* .regular-client__item:not(:last-child) {
  margin-right: 30px;
}

.regular-client__item {
  border-color: var(--social);
} */

/* .regular-client__link:hover svg,
.regular-client__link:focus svg {
  fill: var(--accent-color);
}

.regular-client__link:hover,
.regular-client__link:focus {
  border-color: var(--accent-color);
  cursor: pointer; */
/* opacity: 1; */
/* } */

/* *************Кнопка баннера ********************/
/* .button {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
} */

/* .button:focus,
.button:hover {
  color: var(--primary-white-color);
  cursor: pointer;
  background-color: var(--button-hover);
} */

/* .banner {
  padding-top: 200px;
  padding-bottom: 200px;
} */

/* .section__subtitle {
  margin-bottom: 50px;
} */

/* .subject__item {
  width: 370px;
  height: 294px;
}
.subject__item:not(:last-child) {
  margin-right: 30px;
} */

/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
} */

/* .works-section {
  padding-top: 0;
} */

/* .features__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style: none;
  margin-bottom: 30px;

  width: 270px;
  height: 120px;
  background: var(--portfolio-button);
  border-radius: 4px;
} */

/************Модальное окно****************/
/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;

  opacity: 1;
  transform: scale(100px);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
/* .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;

  height: 581px;
  width: 528px;
  background-color: white;
  border-radius: 4px;
} */

/* .modal__icon-close {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .modal-button__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: var(--primary-white-color);
}

.modal-button__close:hover .modal-close,
.modal-button__close:focus .modal-close {
  fill: var(--accent-color);
  cursor: pointer;
} */
/* .form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
} */

/* .form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
} */

/* .textarea {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 0;
} */

/* .checkbox {
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
} */

/* .checkbox__link {
  color: var(--accent-color);
} */

/* .form__label {
  color: var(--secondary-text-color);
  margin-bottom: 4px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
} */

/* .form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 11px 11px 42px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover,
.form__input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.form__input:hover + .icon-input,
.form__input:focus + .icon-input {
  fill: var(--accent-color);
} */

/* .form__callback {
  display: block;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 12px;
} */

/* .textarea__form {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  width: 448px;
  height: 120px;

  font-weight: normal;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .textarea__form:hover,
.textarea__form:focus {
  border-color: var(--accent-color);
  outline: none;
} */

/* .button--checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 4px;
  border-color: transparent;

  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .button--checkbox:hover,
.button--checkbox:focus {
  background-color: var(--button-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
} */

/* .form__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .checkbox__input {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
} */

/* .checkbox__text {
  display: flex;
  align-items: center;
  position: absolute;
  top: 1px;
  width: 16px;
  height: 15px;

  border: 2px solid #000;
  border-radius: 2px;
  margin-left: 12px;
} */

/* .checkbox__label {
  position: relative;
  padding-left: 35px;
} */

/* .checkbox__input:checked + .checkbox__text {
  border-color: var(--accent-color);
  background-image: url(/images/icon-check-on.svg);
  background-origin: border-box;
}

.checkbox__input:hover,
.checkbox__input:focus {
  cursor: pointer;
} */

/* .subscribe {
  display: block;
  margin-left: 93px;
} */

/* .subscribe__input--email {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  padding-left: 16px;
  color: var(--primary-white-color);
} */

/* .button-subscribe {
  display: flex;
  align-items: center;
  padding-left: 29px;
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  background-color: var(--accent-color);
  border-radius: 4px;
  color: var(--primary-white-color);
  border-color: transparent;
  margin-left: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-subscribe:hover {
  background-color: var(--button-hover);
  cursor: pointer;
} */

/* .subscribe__form {
  display: flex;
} */

/* .button-subscribe__icon {
  margin-left: 10px;
} */
